
    <div class="container" *ngIf="hayki">
      <div class="row">
        <div>
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
              <label for="nombreH">Nombre del Skill</label>
              <input
                type="text"
                class="form-control"
                id="nombreH"
                name="nombreH"
                [(ngModel)]="hayki.nombreH"
                required
              />
            </div>
            <div class="form-group">
              <label for="imgH">URL de la imagen</label>
              <input
                type="text"
                class="form-control"
                id="imgH"
                name="imgH"
                [(ngModel)]="hayki.imgH"
                required
              />
            </div>
            <div class="form-group">
              <label for="porcentajeH">Porcentaje de avance</label>
              <input
                type="text"
                class="form-control"
                id="porcentajeH"
                name="porcentajeH"
                [(ngModel)]="hayki.porcentajeH"
                required
              />
            </div>
            <button class="btn btn-primary">Editar skill</button>
          </form>
        </div>
      </div>
    </div>

