<section id="final">
    <h2>Listo para programar, deje su contacto</h2>
    <iframe
      id="formulario"
      src="https://docs.google.com/forms/d/e/1FAIpQLSeTF0pGuiw1ibUlQoW4AENLJ3pX1EKqp-8JwJTe-nvFVgco9w/viewform?embedded=true"
      width="370"
      height="720"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Cargando…</iframe
    >
    <h3>Tambien puedes contactarme</h3>
    <div id="boton">
      <a
        href="https://www.linkedin.com/in/ernesto-aquino-a5a415210"
        class="fa-brands fa-linkedin"
      >in</a>
      <a
        href="https://instagram.com/ernest_developer_web"
        class="fa-brands fa-square-instagram"
      >IG</a>
      <a
        href="mailto:ernestorafaelaquino@outlook.es?subject=ContratracionPorfolio"
        class="fa-solid fa-square-envelope"
      >@</a>
    </div>
</section>
  