<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloH">Titulo de la tarjeta</label>
                    <input type="text" class="form-control" id="tituloH" name="tituloH" [(ngModel)]="tituloH" required>
                </div>
                <div class="form-group">
                    <label for="textoH">Descripcion texto</label>
                    <input type="text" class="form-control" id="textoH" name="textoH" [(ngModel)]="textoH" required>
                </div>
                <div class="form-group">
                    <label for="linkH">Vinculo </label>
                    <input type="text" class="form-control" id="linkH" name="linkH" [(ngModel)]="linkH" required>
                </div>
                <div class="form-group">
                    <label for="imgH">URL de la Imagen</label>
                    <input type="text" class="form-control" id="imgH" name="imgH" [(ngModel)]="imgH" required>
                </div>
                <button class="btn btn-primary">
                    Agregar proyecto
                </button>
            </form>
        </div>
    </div>
</div>

