html{
    margin: 0px;
  }
  .section2{
    padding: 0px;
      /* fallback for old browsers */
      background: #6a11cb;
    
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
      
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    height: 100vh;
  }
  .container2{
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .backg{
    background: #252525c5;
    padding: 1rem;
    margin: 0.5%;
    width: 99%;
    justify-content: center;
  }
  h2{
    color: blueviolet;
  }
  label{
    color: rgb(83, 83, 83);
  }
  p.mb-0{
    padding: 10px;
  }
  .form-control-lg{
    margin: 10% 0% 0% 10%;
    width: 80%;
  }
  .carta2{
    padding: 10px;
    margin-top: 30vh;
    margin-bottom: 30vh;
    border: rgb(255, 174, 0) solid 5px;
  }
  section {
    border-top: rgb(31, 31, 31) solid 5px;
    justify-content: space-between;
    }
    @media (min-width: 800px) {
      .backg{
        padding: 1rem;
        width: 800px;
      }
      .container2{
        margin: 50px;
      }
    }
    @media (min-width: 720px) {
      .backg{
        padding: 1rem;
        width: 600px;
      }
      .container2{
        margin: 10px;
      }
      .section2 {
        height: 1000px;
      }
    }
  